body {
    margin     : 0;
    font-family: 'Roboto', sans-serif;
    overflow : hidden;
}

.topnav {
    overflow        : hidden;
    background-color: #ffff;
    border-bottom   : 1px solid #ccc;
}

.topnav a img {
    padding: 10px;
    display: block;
    margin : auto;
}

img {
    max-height: 52px;
}

.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    background-color: #04AA6D;
    color           : white;
}

/*Logo styles*/
.logo {
    height  : 195px;
    width   : 195px;
    margin  : 0 auto;
    display : block;
    position: absolute;
    left    : calc((100% - 195px) / 2);
    z-index : 100000;
}


/* table styles */
.styled-table {
    margin-left    : auto;
    margin-right   : auto;
    border-collapse: collapse;
    font-size      : 0.9em;
    font-family    : sans-serif;
    min-width      : 700px;
    box-shadow     : 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #347E7A;
    color           : #ffffff;
}

.styled-table td,
.styled-table th {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #347E7A;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color      : #347E7A;
}

.status {
    width     : 100%;
    text-align: center;
}

.styled-table .description {
    display: inline-block;
}

.intro {
    min-height      : 150px;
    border          : 1px solid #ccc;
    text-align      : center;
    background-color: #f3f3f3;
}

.subtitle {
    font-weight: 300;
    margin-top : 30px;
    font-size  : 1.8em;
}

.bolt-status-success {
    color: #55a362;
}

.bolt-status-warning {
    color: #d67f3c;
}

.bolt-status-failed {
    color: #cd4a45;
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.footer {
    background-color:#347E7A;
}

.heart {
    padding:20px;
}